# Dependencies
node_modules/

# Build outputs
dist/
.vite/

# Logs and caches
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/*
.DS_Store

# Slidev-specific
slidev-exported.pdf
slidev-exported/*.html

.Rproj.user/
.Rhistory
.RData
.Ruserdata